#share{height:20px;position:relative;}
#share .facebook-share-button,#share .twitter-share-button,#share #___plusone_0{height:20px;margin:0;padding:0;position:absolute;top:16px}
#share .facebook-share-button{width:57px;background-image:url("../images/facebook-share-button-57x40.png");background-repeat:no-repeat;text-indent:1000px;overflow:hidden;}
#share .facebook-share-button:hover{background-position:0 -20px}
#share .twitter-share-button{color:#08c;font-size:12px;font-weight:bold;left:63px}
#share #___plusone_0{left:124px}
