hr{background:#ddd;color:#ddd;float:none;width:100%;height:1px;margin:0 0 1.45em;border:none;}
hr .space{background:#fff;color:#fff;visibility:hidden}
article{float:left;margin-right:10px;width:710px;border-right:1px solid #f0f0f0;margin-right:20px;padding-right:19px}
* html article{display:inline;overflow-x:hidden}
article h2.expanded{float:left;margin-bottom:.5em}
article h2.expanded + a.back{color:#08c;display:block;font-weight:bold;margin-top:.66em;position:relative;left:1em}
article h2.expanded + a.back:hover{color:#00a7fa;text-decoration:none}
article ul.stories{margin-top:.8em}
aside{float:left;margin-right:0;width:190px;}
* html aside{display:inline;overflow-x:hidden}
#info a{color:#424242}
a.view{color:#888;display:block;padding:.2em .8em;text-decoration:none;}
a.view:hover{background-color:#efefef;color:#00a7fa;text-decoration:none}
a.view.selected{background-color:#08c;color:#fff;font-weight:normal}
